<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      {{ site.time | date: "%Y" }} © JavaScript More+</a> 
    </div>
    <div class="grid-item xlarge--one-third">
      Do you like what you see? <a href="https://github.com/jsmore/join/fork">Fork <i class="fa fa-code-fork"></i></a>
    </div>
    
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to be part of us? <a href="http://github.com/jsmore/join">Join now</a>
    </div>
  </div>

</footer>
