<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      {{ site.time | date: "%Y" }} © JavaScript More+</a> 
    </div>
    <div class="grid-item xlarge--one-third">
      <a href="https://instagram.com/tryHTML" ><span class="under">JS</span> <i class="icon-github"></i></a>
    </div>
    
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to be part of us? <a href="http://github.com/jsmore/join">Join the team</a>
    </div>
  </div>

</footer>
